<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title th:text="${blog.title}">AdminLTE 3 | Dashboard</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/style.css}">
        <link rel="stylesheet" th:href="@{/admin-assets/assets/css/image-management.css}">
    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/blogs/own-blogs">Blog</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${blog.title}">
                            Thực hành làm ứng dụng Meal Finder API
                            với Javascript (Phần 2)
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/blogs/own-blogs" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger px-4" id="btn-delete">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <form id="form-update-blog">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control" id="title" name="title"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Nội dung</label>
                                            <textarea id="content" class="form-control" rows="3"
                                                      name="content"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="3"
                                                      name="description"></textarea>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select id="status" class="form-control">
                                            <option value="false">
                                                Nháp
                                            </option>
                                            <option value="true">
                                                Công khai
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="image-preview-container mb-3">
                                            <img src="" alt="" id="image-preview"/>
                                        </div>
                                        <label for="image" class="btn btn-info btn-flat rounded">
                                            Chọn hình ảnh
                                        </label>
                                        <input type="file" id="image" class="d-none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:inline="javascript">
        const blog = [[${blog}]];
        console.log(blog)

        $('#content').summernote({
            height: 500,
        })

        $('#content').css({
            'display': 'block',
            'height': '0',
            'padding': '0',
            'border': 'none'
        })

        $('#content').on('summernote.change', function (we, contents, $editable) {
            $("#content").html(contents);
        });

        // Initialize data
        const initData = (data) => {
            $("#title").val(data.title);
            $('#content').summernote('code', data.content);
            $("#description").html(data.description);
            $("#status").val(String(data.status));
            $("#image-preview").attr("src", data.thumbnail);
        };
        initData(blog);

        $('#form-update-blog').validate({
            rules: {
                title: {
                    required: true
                },
                content: {
                    required: true
                },
                description: {
                    required: true
                }
            },
            messages: {
                title: {
                    required: "Tiêu đề không được để trống"
                },
                content: {
                    required: "Nội dung không được để trống"
                },
                description: {
                    required: "Mô tả không được để trống"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
                console.log(element)
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        // Handle event update blog and send request to server using axios
        const btnUpdate = document.getElementById("btn-update");
        btnUpdate.addEventListener("click", () => {
            if (!$('#form-update-blog').valid()) {
                return;
            }

            const title = $("#title").val();
            const content = $('#content').summernote('code');
            const description = $("#description").val();
            const status = $("#status").val();

            const data = {
                title,
                content,
                description,
                status: status === "true"
            };
            console.log(data)

            axios.put(`/api/admin/blogs/${blog.id}`, data)
                .then(res => {
                    toastr.success("Cập nhật thành công");
                })
                .catch(err => {
                    console.log(err);
                    toastr.error("Cập nhật thất bại");
                });
        });

        // Handle event delete blog and send request to server using axios and confirm before delete using window.confirm
        const btnDelete = document.getElementById("btn-delete");
        btnDelete.addEventListener("click", () => {
            if (window.confirm("Bạn có chắc chắn muốn xóa bài viết này?")) {
                axios.delete(`/api/admin/blogs/${blog.id}`)
                    .then(res => {
                        toastr.success("Xóa thành công");
                        setTimeout(() => {
                            window.location.href = "/admin/blogs/own-blogs";
                        }, 1500);
                    })
                    .catch(err => {
                        console.log(err);
                        toastr.error(err.response.data.message);
                    });
            }
        });

        // Handle event choose image
        // add event listener to avatar input change
        const imageInput = document.getElementById('image');
        const imagePreview = document.getElementById('image-preview');
        imageInput.addEventListener('change', (e) => {
            const file = e.target.files[0];

            // create form data with key file and value is file in input
            const formData = new FormData();
            formData.append('file', file);

            // Send post request to url /api/v1/users/update-avatar, then check request status and set src for avatar preview
            axios.post(`/api/admin/blogs/${blog.id}/update-thumbnail`, formData)
                .then(res => {
                    if (res.status === 200) {
                        imagePreview.src = res.data;
                        toastr.success('Cập nhật thumbnail thành công');
                    }
                })
                .catch(err => {
                    console.log(err)
                    toastr.error('Cập nhật thumbnail thất bại');
                });
        });
    </script>
</th:block>

</body>

</html>