<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Chi tiết phim</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/style.css}">
        <style>
            .select2-container .select2-selection--single {
                height: 38px;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 38px;
            }
        </style>
    </th:block>

</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/films">Phim</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${film.title}">
                            Nhà bà nữ
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/films" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
                                       href="#custom-content-below-home" role="tab"
                                       aria-controls="custom-content-below-home" aria-selected="true">Thông tin phim</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill"
                                       href="#custom-content-below-profile" role="tab"
                                       aria-controls="custom-content-below-profile" aria-selected="false">Danh sách
                                        video phim</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill"
                                       href="#custom-content-above-messages" role="tab"
                                       aria-controls="custom-content-below-messages" aria-selected="false">Review</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="custom-content-below-tabContent">
                                <div class="tab-pane fade active show" id="custom-content-below-home" role="tabpanel"
                                     aria-labelledby="custom-content-below-home-tab">
                                    <form id="form-update-film" class="mt-4">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Tên phim</label>
                                                    <input type="text" class="form-control" id="title" name="title"
                                                           th:value="${film.title}"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Mô tả ngắn</label>
                                                    <textarea id="description" class="form-control" rows="12"
                                                              name="description"
                                                              th:text="${film.description}"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label>Đạo diễn</label>
                                                    <div class="select2-purple">
                                                        <select class="select2 form-control" multiple="multiple"
                                                                id="director">
                                                            <option th:each="director : ${directorList}"
                                                                    th:value="${director.id}"
                                                                    th:selected="${film.directors.contains(director)}"
                                                                    th:text="${director.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Diễn viên</label>
                                                    <div class="select2-purple">
                                                        <select class="select2 form-control" multiple="multiple"
                                                                id="actor">
                                                            <option th:each="actor : ${actorList}"
                                                                    th:value="${actor.id}"
                                                                    th:selected="${film.actors.contains(actor)}"
                                                                    th:text="${actor.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Danh mục</label>
                                                    <div class="select2-purple">
                                                        <select class="select2 form-control" multiple="multiple"
                                                                id="genre">
                                                            <option th:each="genre : ${genreList}"
                                                                    th:value="${genre.id}"
                                                                    th:selected="${film.genres.contains(genre)}"
                                                                    th:text="${genre.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Quốc gia</label>
                                                    <div class="select2-purple">
                                                        <select class="select2 form-control" id="country" name="country">
                                                            <option th:each="country : ${countryList}" th:value="${country.id}" th:selected="${country.id == film.country.id}"
                                                                    th:text="${country.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Trạng thái</label>
                                                    <select class="form-control" id="status" name="status">
                                                        <option value="false" th:selected="${film.status == false}">Nháp</option>
                                                        <option value="true" th:selected="${film.status == true}">Công khai</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label>Năm phát hành</label>
                                                    <input type="text" class="form-control" id="releaseYear"
                                                           name="releaseYear" th:value="${film.releaseYear}"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Loại phim</label>
                                                    <div class="select2-purple">
                                                        <select class="form-control" id="type" name="type" disabled>
                                                            <option th:each="type : ${typeList}"
                                                                    th:value="${type}"
                                                                    th:selected="${type == film.type}"
                                                                    th:text="${type.getType()}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox"
                                                               id="accessType" th:checked="${film.accessType.getValue()}  == 'Trả phí'">
                                                        <label for="accessType" class="custom-control-label">Phim trả
                                                            phí</label>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="form-group-price">
                                                    <th:block th:if="${film.accessType.getValue()}  == 'Trả phí'">
                                                        <label>Giá phim</label>
                                                        <input type="text" class="form-control" id="price" name="price"
                                                               th:value="${film.price}"/>
                                                    </th:block>
                                                </div>

                                                <div class="form-group">
                                                    <div class="image-preview-container mb-3">
                                                        <img th:src="${film.poster}" alt="" id="image-preview" />
                                                    </div>
                                                    <label for="image-input" class="btn btn-info btn-flat rounded">
                                                        Chọn hình ảnh
                                                    </label>
                                                    <input type="file" id="image-input" name="image" class="d-none"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel"
                                     aria-labelledby="custom-content-below-profile-tab">
                                    <div class="row mt-4">
                                        <div class="col-md-12">
                                            <button
                                                    class="btn btn-primary mb-3"
                                                    id="btn-open-modal">Thêm tập phim
                                            </button>
                                            <table id="table-episode" class="table table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th style="width: 5%">#</th>
                                                    <th style="width: 20%">Tên tập phim</th>
                                                    <th style="width: 40%">Link</th>
                                                    <th style="width: 10%">Thời lượng</th>
                                                    <th style="width: 10%">Trạng thái</th>
                                                    <th style="width: 15%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>

                                            <div class="d-flex justify-content-center mt-3"
                                                 id="episode-pagination"></div>

                                            <!-- Modal episode -->
                                            <div class="modal fade" id="modal-episode" data-bs-backdrop="static"
                                                 data-bs-keyboard="false" tabindex="-1"
                                                 aria-labelledby="modal-genre-title" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title fs-5" id="modal-episode-title">Tạo
                                                                tập
                                                                phim</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="form-episode">
                                                                <div class="form-group">
                                                                    <label for="episode-title" class="form-label">Tên
                                                                        tập phim</label>
                                                                    <input type="text" class="form-control"
                                                                           id="episode-title"
                                                                           placeholder="Tập 1, Tập 2, ..."
                                                                           name="title">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="episode-display-order"
                                                                           class="form-label">Tập số bao nhiêu</label>
                                                                    <input type="text" class="form-control"
                                                                           id="episode-display-order"
                                                                           placeholder="1, 2, 3, ..."
                                                                           name="displayOrder">
                                                                </div>
                                                                <div class="form-group">
                                                                <label>Trạng thái</label>
                                                                    <select class="form-control" id="episode-status" name="status">
                                                                        <option value="false" selected>Nháp</option>
                                                                        <option value="true">Công khai</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Đóng
                                                            </button>
                                                            <button type="button" class="btn btn-primary"
                                                                    id="btn-handle-episode">Xác nhận
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="modal-video">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <video controls width="100%">
                                                                <source src="" type="video/mp4">
                                                                Your browser does not support the video tag.
                                                            </video>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-content-above-messages" role="tabpanel"
                                     aria-labelledby="custom-content-above-messages-tab">
                                    <div class="row mt-4">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-hover" id="table-review">
                                                <thead>
                                                <tr>
                                                    <th style="width: 20%">Tác giả</th>
                                                    <th style="width: 10%">Đánh giá</th>
                                                    <th style="width: 55%">Nội dung</th>
                                                    <th style="width: 10%">Thời gian</th>
                                                    <th style="width: 5%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-center mt-3"
                                                 id="review-pagination"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:inline="javascript">
        const film = [[${film}]];
        const reviews = [[${reviewList}]];
        let episodes = [[${episodeList}]];
        console.log({film, reviews, episodes});

        $(".select2").select2();

        const accessType = document.getElementById("accessType");
        const formGroupPrice = document.getElementById("form-group-price");

        // Hiển thị form nhập giá nếu là phim trả phí
        accessType.addEventListener("change", () => {
            if (accessType.checked) {
                formGroupPrice.innerHTML = `
                    <label>Giá</label>
                    <input type="text" class="form-control" id="price" name="price" value="${film.price ?? ""}"/>
                `
            } else {
                formGroupPrice.innerHTML = ""
            }
        })

        $('#form-update-film').validate({
            rules: {
                title: {
                    required: true
                },
                description: {
                    required: true
                },
                releaseYear: {
                    required: true
                },
                type: {
                    required: true
                },
                status: {
                    required: true
                },
                price: {
                    required: true
                },
                country: {
                    required: true
                }
            },
            messages: {
                title: {
                    required: "Tên phim không được để trống"
                },
                description: {
                    required: "Mô tả không được để trống"
                },
                releaseYear: {
                    required: "Năm phát hành không được để trống"
                },
                type: {
                    required: "Loại phim không được để trống"
                },
                status: {
                    required: "Trạng thái không được để trống"
                },
                price: {
                    required: "Giá không được để trống"
                },
                country: {
                    required: "Quốc gia không được để trống"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        // Truy cập vào các thành phần
        const filmTitle = document.getElementById("title");
        const filmDescription = document.getElementById("description");
        const filmType = document.getElementById("type");
        const filmStatus = document.getElementById("status");
        const filmReleaseYear = document.getElementById("releaseYear");
        const filmDirectors = $("#director");
        const filmActors = $("#actor");
        const filmGenres = $("#genre");
        const filmCountry = $("#country");
        const btnUpdate = document.getElementById("btn-update")

        // Cập nhật phim
        btnUpdate.addEventListener("click", async () => {
            if (!$('#form-update-film').valid()) return false;

            const data = {
                title: filmTitle.value,
                description: filmDescription.value,
                type: filmType.value,
                status: filmStatus.value === "true",
                countryId: Number(filmCountry.val()),
                releaseYear: Number(filmReleaseYear.value),
                directorIds: filmDirectors.val().map(e => Number(e)),
                actorIds: filmActors.val().map(e => Number(e)),
                genreIds: filmGenres.val().map(e => Number(e)),
                accessType: accessType.checked ? "PAID" : "FREE",
                price: accessType.checked ? Number(document.getElementById("price").value) : null
            }
            console.log(data)

            try {
                let res = await axios.put(`/api/admin/films/${film.id}`, data)

                if (res.status === 200) {
                    toastr.success("Cập nhật thành công");
                }
            } catch (e) {
                toastr.error(e.response.data.message);
                console.log(e);
            }
        })

        // add event listener to avatar input change
        const imageInput = document.getElementById('image-input');
        const imagePreview = document.getElementById('image-preview');
        imageInput.addEventListener('change', (e) => {
            const file = e.target.files[0];

            // create form data with key file and value is file in input
            const formData = new FormData();
            formData.append('file', file);

            // Send post request to url /api/v1/users/update-avatar, then check request status and set src for avatar preview
            axios.post(`/api/admin/films/${film.id}/update-poster`, formData)
                .then(res => {
                    if (res.status === 200) {
                        imagePreview.src = res.data;
                        toastr.success('Cập nhật poster thành công');
                    }
                })
                .catch(err => {
                    console.log(err)
                    toastr.error('Cập nhật poster thất bại');
                });
        });

        // review --------------------------------------------
        // render reviews from reviews to body of table
        const tableReviewBody = document.querySelector('#table-review tbody');
        const renderReviews = (reviewList) => {
            let html = '';
            reviewList.forEach(review => {
                html += `
                    <tr>
                        <td>${review.user.name}</td>
                        <td>
                            <span>${review.rating}</span>
                            <span style="color: #EDBB0E"><i class="fas fa-star"></i></span>
                        </td>
                        <td>${review.comment}</td>
                        <td>${formatDate(review.createdAt)}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="deleteReview(${review.id})">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                `;
            })
            tableReviewBody.innerHTML = html;
        }

        // render pagination using pagination.js
        const renderPaginationEpisodeReview = (reviewList) => {
            $('#review-pagination').pagination({
                dataSource: reviewList,
                className: 'paginationjs-theme-blue paginationjs-big',
                callback: function (data, pagination) {
                    renderReviews(data);
                },
                hideOnlyOnePage: true
            })
        }

        const deleteReview = id => {
            const isDelete = confirm("Bạn có chắc chắn muốn xóa đánh giá này?");
            if (!isDelete) {
                return;
            }
            // Send request to server using axios
            axios.delete(`/api/admin/reviews/${id}`)
                .then(res => {
                    if (res.status === 200) {
                        // delete review in reviews array
                        const index = reviews.findIndex(review => review.id === id);
                        reviews.splice(index, 1);
                        renderPaginationEpisodeReview(reviews);

                        toastr.success("Xóa đánh giá thành công");
                    }
                })
                .catch(err => {
                    console.log(err);
                    toastr.error("Xóa đánh giá thất bại");
                })
        }

        renderPaginationEpisodeReview(reviews);

        // episode --------------------------------------------
        let idEpisodeUpdate = null;

        // validate form
        $('#form-episode').validate({
            rules: {
                title: {
                    required: true
                },
                displayOrder: {
                    required: true
                },
                status: {
                    required: true
                }
            },
            messages: {
                title: {
                    required: "Tên tập phim không được để trống"
                },
                displayOrder: {
                    required: "Thứ tự hiển thị không được để trống"
                },
                status: {
                    required: "Trạng thái không được để trống"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        // Parse seconds to format hh:mm:ss
        const secondsToHMS = (seconds) => {
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const secs = seconds % 60;

            const paddedHours = String(hours).padStart(2, '0');
            const paddedMinutes = String(minutes).padStart(2, '0');
            const paddedSeconds = String(secs).padStart(2, '0');

            return `${paddedHours}:${paddedMinutes}:${paddedSeconds}`;
        }

        // Render episode
        const tableEpisodeContent = document.querySelector("#table-episode tbody")
        const renderEpisodes = (episodeList) => {
            console.log(episodeList)
            tableEpisodeContent.innerHTML = "";
            let html = "";
            episodeList.forEach((episode) => {
                html += `
                    <tr>
                        <td>${episode.displayOrder}</td>
                        <td>${episode.title}</td>
                        <td>${episode?.video?.url ?? ""}</td>
                        <td>${episode?.video?.duration ? secondsToHMS(episode?.video?.duration) : ""}</td>
                        <td>
                            ${episode.status
                                ? '<span class="badge bg-success">Công khai</span>'
                                : '<span class="badge bg-secondary">Nháp</span>'}
                        </td>
                        <td>
                            <label for="episode-${episode.id}" class="btn btn-primary btn-sm text-white mb-0">
                                <i class="fas fa-upload"></i>
                            </label>
                            <input type="file" id="episode-${episode.id}" class="d-none" onchange="uploadVideo(${episode.id}, event)">
                            ${episode.video ? `
                                <button class="btn btn-warning btn-sm text-white" onclick="watchVideo(${episode.id})">
                                    <i class="fas fa-play"></i>
                                </button>
                            ` : ""}
                            <button class="btn btn-success btn-sm" onclick="openModalUpdate(${episode.id})">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" onclick="deleteEpisode(${episode.id})">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                `
            })
            tableEpisodeContent.innerHTML = html;
        }

        // render pagination using pagination.js
        const renderPaginationEpisode = (episodeList) => {
            $('#episode-pagination').pagination({
                dataSource: episodeList,
                className: 'paginationjs-theme-blue paginationjs-big',
                callback: function (data, pagination) {
                    renderEpisodes(data, pagination);
                },
                hideOnlyOnePage: true
            })
        }

        // Open modal create
        const episodeTitleEl = document.getElementById("episode-title");
        const episodeDisplayOrderEl = document.getElementById("episode-display-order");
        const episodeStatusEl = document.getElementById("episode-status");
        const btnOpenModal = document.getElementById("btn-open-modal");
        btnOpenModal.addEventListener("click", () => {
            // Kiểm tra xem phim thuộc thể loại nào.
            // Nếu là phim chiếu rạp, phim lẻ thì không cho tạo tập phim mới nếu đã có 1 tập phim
            if (film.type === "PHIM_CHIEU_RAP" || film.type === "PHIM_LE") {
                if (episodes.length > 0) {
                    toastr.warning("Phim chiếu rạp, phim lẻ chỉ được tạo 1 tập phim");
                    return;
                }
            }


            $('#modal-episode').modal('show');

            // set title modal
            const modalTitle = document.getElementById("modal-episode-title")
            modalTitle.innerText = "Tạo tập phim"

            // set display order
            episodeDisplayOrderEl.value = episodes.length + 1;
        })

        $('#modal-episode').on('hidden.bs.modal', function (event) {
            episodeTitleEl.value = "";
            episodeDisplayOrderEl.value = "";
            episodeStatusEl.value = "false";
            idEpisodeUpdate = null;
        })

        // Create episode using axios and vanilla js
        const createEpisode = () => {
            if (!$('#form-episode').valid()) {
                return;
            }

            const data = {
                title: episodeTitleEl.value,
                displayOrder: Number(episodeDisplayOrderEl.value),
                filmId: film.id,
                status: episodeStatusEl.value === "true"
            }

            // Kiểm tra xem tập phim có trùng display order không
            const isDuplicate = episodes.some(episode => episode.displayOrder === data.displayOrder)
            if (isDuplicate) {
                toastr.error("Thứ tự hiển thị đã tồn tại. Vui lòng chọn thứ tự khác");
                return;
            }

            axios.post("/api/admin/episodes", data)
                .then(res => {
                    episodes.push(res.data)
                    renderPaginationEpisode(episodes)
                    episodeTitleEl.value = "";
                    episodeDisplayOrderEl.value = "";

                    $('#modal-episode').modal('hide');
                    toastr.success("Tạo tập phim thành công")
                })
                .catch(e => {
                    console.log(e);
                    toastr.error(e.response.data.message);
                })
        }

        // Update episode using axios and vanilla js
        const updateEpisode = () => {
            if (!$('#form-episode').valid()) {
                return;
            }

            const data = {
                title: episodeTitleEl.value,
                displayOrder: Number(episodeDisplayOrderEl.value),
                filmId: film.id,
                status: episodeStatusEl.value === "true"
            }

            // Kiểm tra xem tập phim có trùng display order không, và không trùng với tập phim cần update
            const isDuplicate = episodes.some(episode => episode.displayOrder === data.displayOrder && episode.id !== idEpisodeUpdate)
            if (isDuplicate) {
                toastr.error("Thứ tự hiển thị đã tồn tại. Vui lòng chọn thứ tự khác");
                return;
            }

            // Nếu trạng thái là true thì cần phải có video
            if (data.status) {
                const episode = episodes.find(episode => episode.id === idEpisodeUpdate)
                if (!episode.video) {
                    toastr.error("Tập phim này chưa có video. Nên không thể công khai. Vui lòng upload video cho tập phim");
                    return;
                }
            }

            axios.put(`/api/admin/episodes/${idEpisodeUpdate}`, data)
                .then(res => {
                    // tìm episode cần update trong mảng episodes
                    const index = episodes.findIndex(episode => episode.id === idEpisodeUpdate)
                    episodes[index] = res.data;

                    renderPaginationEpisode(episodes)
                    episodeTitleEl.value = "";
                    episodeDisplayOrderEl.value = "";

                    $('#modal-episode').modal('hide');
                    toastr.success("Cập nhật tập phim thành công");
                    idEpisodeUpdate = null;
                })
                .catch(e => {
                    console.log(e);
                    toastr.error(e.response.data.message);
                })
        }

        // Handle open modal update
        const openModalUpdate = id => {
            const episode = episodes.find(episode => episode.id === id)
            episodeTitleEl.value = episode.title
            episodeDisplayOrderEl.value = episode.displayOrder
            episodeStatusEl.value = episode.status.toString()
            idEpisodeUpdate = episode.id;
            $('#modal-episode').modal('show');

            // set title modal
            const modalTitle = document.getElementById("modal-episode-title")
            modalTitle.innerText = "Cập nhật tập phim"
        }

        // Handle episode
        const btnHandleEpisode = document.getElementById("btn-handle-episode")
        btnHandleEpisode.addEventListener("click", () => {
            if (idEpisodeUpdate) {
                updateEpisode()
            } else {
                createEpisode()
            }
        })

        // Xóa
        const deleteEpisode = (id) => {
            const isDelete = confirm("Bạn có chắc chắn muốn xóa tập phim này không?")
            if (isDelete) {
                axios.delete(`/api/admin/episodes/${id}`)
                    .then(() => {
                        episodes = episodes.filter(episode => episode.id !== id)
                        renderPaginationEpisode(episodes)
                        toastr.success("Xóa tập phim thành công")
                    })
                    .catch(e => {
                        console.log(e);
                        toastr.error(e.response.data.message);
                    })
            }
        }

        const uploadVideo = (id, event) => {
            console.log({id, event})
            // get file from event
            const file = event.target.files[0];

            // create form data with key file and value is file in input
            const formData = new FormData();
            formData.append('file', file);

            const isUpload = confirm("Bạn có chắc chắn muốn upload video cho tập phim này không?")
            if (isUpload) {
                axios.post(`/api/admin/episodes/${id}/upload-video`, formData)
                    .then(res => {
                        toastr.success("Upload video thành công");
                        //find index of episode in episodes array
                        const index = episodes.findIndex(episode => episode.id === id)
                        // set video for episode
                        episodes[index] = res.data;

                        renderPaginationEpisode(episodes);
                    })
                    .catch(e => {
                        console.log(e);
                        toastr.error(e.response.data.message);
                    })
            }
        }

        const watchVideo = (id) => {
            const episode = episodes.find(episode => episode.id === id)
            const video = episode.video;
            if (!video) {
                toastr.error("Tập phim này chưa có video");
                return;
            }

            // set src for video tag
            const videoEl = document.querySelector("#modal-video video");
            videoEl.src = video.url;

            // show modal
            $('#modal-video').modal('show');
        }

        $('#modal-video').on('hidden.bs.modal', function (event) {
            const videoEl = document.querySelector("#modal-video video");
            videoEl.src = "";
        })

        renderPaginationEpisode(episodes);
    </script>
</th:block>

</body>

</html>