<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #main-content}, ~{})}">

<head>
    <title th:text="${blog.title}">Document</title>
</head>

<body>
<th:block id="main-content">
    <section class="py-4">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a class="text-primary" href="/tin-tuc">Tin tức</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${blog.title}">Top 15 Phim Cổ Trang Trung Quốc Hay Không Thể Bỏ Lỡ Năm 2023</li>
                </ol>
            </nav>
            <h3 class="mb-3" th:text="${blog.title}">Top 15 Phim Cổ Trang Trung Quốc Hay Không Thể Bỏ Lỡ Năm 2023</h3>
            <p class="fst-italic" th:text="${#dates.format(blog.publishedAt, 'dd/MM/YYYY')}">August 20, 2023</p>
            <div class="blog-detail" th:utext="${blog.content}">

            </div>
        </div>
    </section>
</th:block>
</body>

</html>