<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách phim chiếu rạp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<th:block th:replace="~{web/fragments/header :: .header}"></th:block>

<main class="py-5">
    <div class="container">
        <h2 class="heading-title mb-4 fw-normal">Danh sách phim chiếu rạp</h2>
        <div class="row">
            <form class="form-filter mb-4" action="/phim-le" method="GET">
                <div class="filter-item">
                    <select class="input form-control" name="sortBy">
                        <option value="" hidden="hidden">-- Sắp xếp --</option>
                        <option value="releaseYear">Sắp xếp theo ngày phát hành</option>
                        <option value="view">Sắp xếp theo lượt view</option>
                        <option value="rating">Sắp xếp theo rating</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-success" value="Áp dụng">
            </form>
        </div>
        <div class="row">
            <div class="col-lg-2" th:each="film : ${pageData.getContent()}">
                <div class="movie-item">
                    <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-media">
                        <div class="play-btn">
                        </div>
                        <div class="media media-cover"
                             th:style="|background-image: url(${film.poster});|">
                        </div>
                    </a>
                    <div class="movie-caption">
                        <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-title" th:text="${film.title}">
                            Vén Màn Tội Ác</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination" th:if="${pageData.getTotalPages() != 1}">
            <ul class="ps-0">
                <li th:if="${pageData.getCurrentPage() != 1}">
                    <a th:href="@{/phim-chieu-rap (page=${pageData.currentPage - 1})}"
                       class="navigation previous" rel="prev">Trước</a>
                </li>
                <li th:each="page : ${#numbers.sequence(1, pageData.getTotalPages())}">
                    <a th:href="@{/phim-chieu-rap (page=${page})}"
                       th:text="${page}"
                       th:classappend="${page == pageData.getCurrentPage() ? 'current' : ''}">1</a>
                </li>
                <li th:if="${pageData.getTotalPages() != pageData.getCurrentPage()}">
                    <a th:href="@{/phim-chieu-rap (page=${pageData.currentPage + 1})}"
                       class="navigation next" rel="next">Sau</a>
                </li>
            </ul>
        </div>
    </div>
</main>

<script th:inline="javascript">
    const pageData = [[${pageData}]];
    console.log(pageData);
</script>
</body>

</html>