<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">

<head>
    <title th:text="${film.title}">Document</title>

    <th:block id="css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
              integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
    </th:block>
</head>

<body>

<th:block id="main-content">
    <section class="py-4">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-primary" href="/static">Trang chủ</a></li>
                    <li class="breadcrumb-item">
                        <a th:switch="${film.type.type}">
                            <a class="text-primary" th:case="'Phim lẻ'" href="/phim-le">Phim lẻ</a>
                            <a class="text-primary" th:case="'Phim bộ'" href="/phim-bo">Phim bộ</a>
                            <a class="text-primary" th:case="'Phim chiếu rạp'" href="/phim-chieu-rap">Phim chiếu rạp</a>
                            <a class="text-primary" th:case="*" href="#">Không xác định</a> <!-- Trường hợp mặc định -->
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a class="text-primary"
                                                   th:href="@{/phim/{id}/{slug} (id=${film.id}, slug=${film.slug})}"
                                                   th:text="${film.title}">Nhà Bà Nữ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Xem phim</li>
                </ol>
            </nav>
        </div>
    </section>

    <div id="screen" class="py-4 bg-body-tertiary">
        <div class="container">
            <div class="w-100 mx-auto">
                <video controls width="100%">
                    <source th:src="${currentEpisode != null && currentEpisode.videoUrl != null ? currentEpisode.videoUrl : ''}"
                            type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="movie-poster overflow-hidden position-relative rounded">
                        <img id="movie-poster" class="rounded w-100"
                             th:src="${film.poster}" alt="">
                        <span class="play-icon"><i class="fa-regular fa-circle-play"></i></span>
                        <span th:if="${film.type.toString() == 'PHIM_BO'}"
                              class="position-absolute badge text-bg-danger top-0 start-0 rounded-1">Phim bộ</span>
                    </div>
                </div>
                <div class="col-9">
                    <div class="d-flex align-items-center mb-3">
                        <h4 class="mb-0" th:text="${film.title}">Cô Đi Mà Lấy Chồng Tôi</h4>
                        <div class="d-flex align-items-center bg-body-tertiary p-1 rounded ms-2">
                            <span class="fw-bold me-1">8.0</span>
                            <span class="rating-icon text-yellow-300"><i class="fa-solid fa-star"></i></span>
                        </div>
                    </div>
                    <div class="p-3 bg-body-tertiary">
                        <div class="row">
                            <div class="col-2">
                                <p>Thể loại</p>
                            </div>
                            <div class="col-10">
                                <p>
                                    <th:block th:each="genre, state : ${film.genres}"
                                              th:text="${state.index < film.genres.size() - 1 ? genre.name + ', ' : genre.name}"></th:block>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Năm sản xuất</p>
                            </div>
                            <div class="col-10">
                                <p th:text="${film.releaseYear}">2021</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Quốc gia</p>
                            </div>
                            <div class="col-10">
                                <p th:text="${film.country.name}">Việt Nam</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Đạo diễn</p>
                            </div>
                            <div class="col-10">
                                <p>
                                    <th:block th:each="director, state : ${film.directors}"
                                              th:text="${state.index < film.directors.size() - 1 ? director.name + ', ' : director.name}"></th:block>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Diễn viên</p>
                            </div>
                            <div class="col-10">
                                <p>
                                    <th:block th:each="actor, state : ${film.actors}"
                                              th:text="${state.index < film.actors.size() - 1 ? actor.name + ', ' : actor.name}"></th:block>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Nội dung phim</p>
                            </div>
                            <div class="col-10">
                                <p>
                                    <th:block th:text="${film.description}"></th:block>
                                    <a class="text-primary" href="">Xem
                                        thêm</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="btn-wishlist-container" th:if="${episodeList.size() > 0}"
                         th:with="episode = ${episodeList.get(0)}">
                        <button th:if="${isLogined && isFavorite}"
                                class="d-inline-block btn bg-dark px-5 py-2 mt-3 rounded text-white"
                                th:onclick="|removeFromWishList(${film.id})|">
                            <span><i class="fa-solid fa-trash-can"></i></span> Loại khỏi yêu thích
                        </button>
                        <button th:if="${isLogined && not isFavorite}"
                                class="d-inline-block btn bg-dark px-5 py-2 mt-3 rounded text-white"
                                th:onclick="|addToWishList(${film.id})|">
                            <span><i class="fa-solid fa-heart"></i></span> Thêm vào yêu thích
                        </button>
                    </div>
                </div>
            </div>

            <div class="mt-4" th:if="${film.type.type == 'Phim bộ'}">
                <h3 class="mb-3">Tập phim</h3>
                <a class="btn btn-dark me-2"
                   th:classappend="${tap == #strings.toString(episode.displayOrder) ? 'disabled' : ''}"
                   th:href="@{/xem-phim/{id}/{slug} (id=${film.id}, slug=${film.slug}, tap=${episode.displayOrder})}"
                   th:each="episode : ${episodeList}" th:text="${episode.title}">Tập 1</a>
            </div>
        </div>
    </section>


    <section class="py-4 bg-body-tertiary">
        <div class="container">
            <h3 class="mb-3">Phim đề xuất</h3>
            <div class="row">
                <div class="col-2" th:each="film : ${relateFilmList}">
                    <div class="movie-item">
                        <a th:href="@{/phim/{id}/{slug} (id=${film.id}, slug=${film.slug})}"
                           class="movie-media">
                            <div class="movie-poster rounded overflow-hidden">
                                <img class="w-100 h-100"
                                     th:src="${film.poster}" th:alt="${film.title}">
                            </div>
                            <p class="mt-2" th:text="${film.title}">Cô Đi Mà Lấy Chồng Tôi</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4">
        <div class="container">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-3">Bình luận</h3>
                    <button class="btn btn-primary btn-create-review" th:if="${isLogined}">Viết bình
                        luận
                    </button>
                </div>
                <p th:if="not ${isLogined}">Vui lòng <a href="/dang-nhap"
                                                        class="text-primary text-decoration-underline">đăng
                    nhập</a> để viết bình luận</p>
                <div class="review-list">

                </div>

                <div id="review-pagination" class="d-flex justify-content-center align-items-center">

                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-review" tabindex="-1" aria-hidden="true" th:if="${isLogined}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Đánh giá phim</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="review-product-info text-center">
                        <p th:text="${film.title}"></p>
                    </div>
                    <div class="review-product-rating">
                        <div class="text-center">
                        <span class="review-product-rating-item" data-rating="1" data-message="Không thích"><i
                                class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="2" data-message="Rất tệ"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="3" data-message="Tệ"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="4" data-message="Dưới trung bình"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="5" data-message="Trung bình"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="6" data-message="Khá ổn"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="7" data-message="Tốt"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="8" data-message="Rất Tốt"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="9" data-message="Tuyệt Vời"><i
                                    class="fa fa-star"></i></span>
                            <span class="review-product-rating-item" data-rating="10" data-message="Xuất sắc"><i
                                    class="fa fa-star"></i></span>
                        </div>
                        <div class="text-center">
                            <p class="review-product-rating-result"></p>
                        </div>
                    </div>
                    <div class="review-product-content">
                        <form id="form-review">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                    <textarea rows="5" id="review-content"
                                              placeholder="Hãy chia sẻ cảm nhận của bạn về bộ phim"
                                              class="form-control" name="content"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="review-product-btn d-flex justify-content-center mt-3">
                        <button class="btn btn-primary" id="btn-send-review">Hoàn tất</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTrailer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Trailer:
                        <th:block th:text="${film.title}"></th:block>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="aspect-ratio: 16/9">
                        <iframe class="w-100 h-100" src="https://www.youtube.com/embed/ByAn8DF8Ykk?si=uAm6Nub1qNQFoE10"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block id="js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
            integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
            integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script th:inline="javascript">
        const film = [[${film}]];
        const reviews = [[${reviewList}]];
        const currentEpisode = [[${currentEpisode}]];
        const currentUser = [[${currentUser}]];
        const watchHistory = [[${watchHistory}]];
        const video = document.querySelector('#screen video');

        // Handle show trailer
        const modalTrailer = new bootstrap.Modal(document.getElementById('modalTrailer'));

        // add event modal trailer show
        modalTrailer._element.addEventListener('show.bs.modal', function (event) {
            const modalBody = modalTrailer._element.querySelector('.modal-body');
            modalBody.innerHTML = `
                <div style="aspect-ratio: 16/9">
                     <iframe class="w-100 h-100" src="${film.trailerUrl}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                </div>
            `;
        })

        // add event modal trailer hide
        modalTrailer._element.addEventListener('hide.bs.modal', function (event) {
            const modalBody = modalTrailer._element.querySelector('.modal-body');
            modalBody.innerHTML = '';
        })

        // add event to element class "play-icon" to show modal trailer
        const playIcon = document.querySelector('.play-icon');
        playIcon.addEventListener('click', () => {
            modalTrailer.show();
        })
    </script>
    <script src="/js/film-detail/film-detail.js"></script>
    <script src="/js/film-detail/film-view.js"></script>
    <script src="/js/film-detail/film-review.js" th:if="${isLogined}"></script>
    <script src="/js/film-detail/film-view-history.js" th:if="${isLogined}"></script>
    <script src="/js/film-detail/film-view-history-anonymous.js" th:if="not ${isLogined}"></script>
</th:block>
</body>

</html>