<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tất cả diễn viên</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách diễn viên
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/admin/actors/create" type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Tạo diễn viên
                    </a>
                    <a href="/admin/actors" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="table-actor" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Họ tên</th>
                                    <th>Birthday</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="actor : ${actorList}">
                                    <td>
                                        <img th:src="${actor.avatar}" th:alt="${actor.name}" width="50" height="50" class="rounded-circle">
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/actors/{id}/detail (id=${actor.id})}" th:text="${actor.name}">Bui Hien</a>
                                    </td>
                                    <td th:text="${#dates.format(actor.birthday, 'dd/MM/yyyy')}">01/09/1997</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:inline="javascript">
        $('#table-actor').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    </script>
</th:block>
</body>

</html>