<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark py-4 text-white">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="#">
                    <img src="/image/logo.png" alt="logo" class="logo">
                </a>
                <p class="mt-2 text-small">Motchill - Xem phim Online Vietsub chất lượng cao miễn phí, nhiều thể loại phim
                    phong phú, đặc sắc, giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các
                    bộ phim mới.</p>
            </div>
            <div class="col-2 text-small">
                <h5 class="text-uppercase mb-3 fw-normal">Danh mục</h5>
                <p><a class="text-white" href="#">Tin tức</a></p>
                <p><a class="text-white" href="#">Phim chiếu rạp</a></p>
                <p><a class="text-white" href="#">Phim bộ</a></p>
                <p><a class="text-white" href="#">Phim lẻ</a></p>
                <p><a class="text-white" href="#">TV Show</a></p>
            </div>
            <div class="col-2 text-small">
                <h5 class="text-uppercase mb-3 fw-normal">Thể loại</h5>
                <p><a class="text-white" href="">Phim cổ trang</a></p>
                <p><a class="text-white" href="">Phim đam mỹ</a></p>
                <p><a class="text-white" href="">Phim bách hợp</a></p>
                <p><a class="text-white" href="">Phim viễn tưởng</a></p>
                <p><a class="text-white" href="">Phim hoạt hình</a></p>
            </div>
            <div class="col-2 text-small">
                <h5 class="text-uppercase mb-3 fw-normal">Điều khoản</h5>
                <p><a class="text-white" href="#">DMCA</a></p>
                <p><a class="text-white" href="#">Liên hệ</a></p>
                <p><a class="text-white" href="#">Privacy</a></p>
                <p><a class="text-white" href="#">Terms of Service</a></p>
            </div>

            <div class="col-2">
                <h5 class="text-uppercase mb-3 fw-normal">SOCIAL</h5>
                <div class="d-flex">
                    <p class="fs-4 me-3">
                        <a style="color: #1877f2" href="#"><span><i class="fa-brands fa-facebook"></i></span></a>
                    </p>
                    <p class="fs-4 me-3">
                        <a style="color: #1da1f2" href="#"><span><i class="fa-brands fa-twitter"></i></span></a>
                    </p>
                    <p class="fs-4 me-2">
                        <a style="color: #ff0000" href="#"><span><i class="fa-brands fa-youtube"></i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>