<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="bg-dark header">
    <div class="bg-body-tertiary p-2">
        <p class="mb-0 text-center">Dự án mẫu khóa học Java tại Techmaster</p>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/image/logo.png" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between align-items-center" id="main-menu">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="/">Trang chủ</a>
                    <a class="nav-link text-white" href="/phim-bo">Phim bộ</a>
                    <a class="nav-link text-white" href="/phim-chieu-rap">Phim chiếu rạp</a>
                    <a class="nav-link text-white" href="/phim-le">Phim lẻ</a>
                </div>
                <div>
                    <div class="d-flex align-items-center" th:if="${isLogined}">
                        <p class="text-white mb-0" th:text="${userLogined_name}"></p>
                        <a class="text-white fst-italic ms-2" href="javascript:void(0)" onclick="logout()">(Đăng xuất)</a>
                    </div>
                    <a class="text-white" href="/dang-nhap" th:if="not ${isLogined}">Đăng nhập</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>