<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:replace="~{fragments/header :: .header}"></th:block>

<main class="py-5">
  <div class="container">
    <h2 class="heading-title mb-4 fw-normal">Phim hot</h2>
    <div class="owl-carousel">
      <div th:each="film : ${hotFilmList}">
        <div class="movie-item">
          <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-media">
            <div class="play-btn">
            </div>
            <div class="media media-cover"
                 th:style="|background-image: url(${film.poster});|">
            </div>
          </a>
          <div class="movie-caption">
            <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-title" th:text="${film.title}">
              Vén Màn Tội Ác</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="heading-title mb-4 fw-normal">Phim mới gần đây</h2>
    <div class="row">
      <div class="col-lg-2" th:each="film : ${newFilmList}">
        <div class="movie-item">
          <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-media">
            <div class="play-btn">
            </div>
            <div class="media media-cover"
                 th:style="|background-image: url(${film.poster});|">
            </div>
          </a>
          <div class="movie-caption">
            <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-title" th:text="${film.title}">
              Vén Màn Tội Ác</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="heading-title mb-4 fw-normal">Phim lẻ gần đây</h2>
    <div class="row">
      <div class="col-lg-2" th:each="film : ${featureFilmList}">
        <div class="movie-item">
          <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-media">
            <div class="play-btn">
            </div>
            <div class="media media-cover"
                 th:style="|background-image: url(${film.poster});|">
            </div>
          </a>
          <div class="movie-caption">
            <a th:href="@{/phim/{id} (id=${film.id})}" class="movie-title" th:text="${film.title}">
              Vén Màn Tội Ác</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script th:inline="javascript">
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      items: 4,
      margin: 20,
      loop: true
    });
  });
</script>
</body>
</html>